@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  /* font-family: "Merriweather", serif; */
  /* background-color: brown; */
  background: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

/* header */

.header_container {
  max-width: 1160px;
  height: 600px;
  margin: 50px 140px;
  background-image: url("./images/Banner\ Image.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 16px;
  font-family: "Merriweather", serif;
}

.banner_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
}

.banner_content p {
  /* margin-bottom: 2px; */
  font-size: 28px;
}

.banner_content h1 {
  margin-top: -16px;
  text-align: center;
  font-size: 62px;
}

/* sale */

.sale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 100px;
}

.sale h1 {
  font-size: 70px;
  margin-top: 50px;
}

.sale h1,
.sale p {
  color: #ff0000;
}

.sale_content {
  text-align: center;
  margin-top: -10px;
}

.sale_content h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
}

.sale img {
  margin-top: 20px;
  width: 685px;
}

.welcome_party {
  max-width: 1160px;
  height: 600px;
  margin: 50px 140px;
  /* background-image: linear-gradient(to right, rgba(7, 2, 17,0.8)),url(./images/Vectorrr.png); */
  background-image: url(./images/Vectorrr.png);
  background-color: rgba(0, 0, 0, 0.5);

  /* background: linear-gradient(to left, rgba(7, 2, 17)); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 16px;
  font-family: "Merriweather", serif;
  color: rgba(255, 255, 255, 100);
  display: flex;
  gap: 20px;
}

.welcome_party_content {
  padding: 80px 0 0 100px;
}

.welcome_party_content h1 {
  font-size: 54px;
}

.welcome_party_content p {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter", sans-serif;
}

.welcome_party_content .join {
  color: rgba(255, 255, 255, 100);
  font-family: "Inter", sans-serif;
  padding: 50px 0 0 40px;
}

.join a {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 100);
  text-transform: uppercase;
  text-decoration: none;
}

.welcome_party_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome_party_img img {
  width: 270px;
}

/* program time */

.program_time {
  max-width: 1160px;
  height: 400px;
  margin: 80px 140px;
  background: linear-gradient(
    to bottom,
    rgba(255, 230, 230, 0.5) 20%,
    rgba(255, 247, 247, 0.9) 40%
  );
  text-align: center;
  padding-top: 80px;
  color: #000000;
}

.program_time_content span {
  color: #ff0000;
}

.btn {
  margin-top: 30px;
}

.btn button {
  color: #ffffff;
  background-color: #ff0000;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-weight: 700;
  cursor: pointer;
}

/* coming soon section */

.coming_soon {
  max-width: 1160px;
  margin: 80px 140px;
  color: #000000;
}

.coming_soon_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.coming_soon_content_left {
  width: 500px;
}

.coming_soon_content_left h5 {
  color: #ff0000;
}
.coming_soon_content_left p {
  color: rgba(0, 0, 0, 0.5);
}

.coming_soon_content_middle {
  border: 8px solid #ff0000;
  border-radius: 50%;
  /* padding: 10px; */
}

.coming_soon_content_middle img {
  width: 310px;
  padding: 15px;
}

.coming_soon_content_right {
  padding-left: 30px;
  width: 400px;
}

.coming_soon_content_right h2 {
  color: #ff0000;
}
.coming_soon_content_right p {
  color: rgba(0, 0, 0, 0.5);
}

.coming_soon_content_right img {
  width: 100px;
}

/* holiday sale */

.holiday_sale {
  max-width: 1160px;
  margin: 100px 140px;
  color: #000000;
}
.holiday_sale_top {
  text-align: center;
  color: #000000;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
}

.holiday_sale_top h1 {
  margin-top: 10px;
  font-size: 50px;
  font-family: "Merriweather", serif;
}
.holiday_sale_top span {
  color: #ff0000;
}

.holiday_sale_top p {
  color: rgba(0, 0, 0, 0.7);
}

.holiday_sale_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/Rectangle\ 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 150px;
  margin-top: 350px;
  border-radius: 10px;
  /* text-align: end; */
  /* top: 0; */
  /* bottom: 0; */
}

.holiday_sale_bottom_left {
  margin-bottom: 250px;
}

.holiday_sale_bottom_left img {
  width: 400px;
}
.holiday_sale_bottom_right {
  margin-bottom: 450px;
  margin-left: 200px;
}
.holiday_sale_bottom_right img {
  width: 200px;
}

/* portfolio */

.portfolio {
  max-width: 1160px;
  margin: 100px 140px;
  color: #000000;
}

.portfolio_content h4 {
  color: #ff0000;
}

.portfolio_content h1 {
  font-size: 30px;
  font-family: "Merriweather", serif;
  font-weight: 900;
}

.portfolio_content p {
  color: rgba(0, 0, 0, 0.5);
}

.portfolio_images {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.portfolio_images img {
  width: 340px;
}

/* Newletter */

.newsletter {
  max-width: 1160px;
  margin: 100px 140px;
  color: #000000;
  background-color: rgba(255, 230, 230, 0.5);
  border-radius: 10px;
}

.newsletter_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_field {
  display: flex;
}

.newsletter_img{
  margin-top: 30px;
}
.newsletter_img img{
  width: 100px;
}

.newsletter_content h1{
  font-family: "Merriweather", serif;
  font-size: 35px;
  font-weight: 900;
}

.newsletter_content p{
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -10px;
}

.input_field{
  margin: 10px 0 40px 0;
}

.first_input{
  padding: 15px 50px 15px 20px;
  /* border-radius: 50px; */
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.first_input::placeholder{
  color: rgba(0, 0, 0, 0.5);
}

.second_input{
  padding: 15px 40px;
  border: none;
  background-color: #ff0000;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;

}

.second_input{
  color: #ffffff;
}

/* footer */
footer{
  background-color: #070211;
  height: 400px;
}

.footer_content{
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.address{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 600px;
}

.address p{
  line-height: 30px;
}

/* .contact{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.phone, .website{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.website{
  margin-top: -30px;
  margin-left: 10px;
}

.social_icons{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social_icons img {
  width: 40px;
}

.last_part{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 750px;
}

.last_part a {
  text-decoration: none;
  color: #ffffff;
}

footer hr{
  border: 1px solid rgba(255, 255, 255, .1);
  width: 90%;
}